@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import 'tailwindcss';

@theme {
  --font-heading: 'UnifrakturMaguntia', cursive;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}
